@using Calligraphy.ViewModel
@model IEnumerable<Calligraphy.ViewModel.DashboardViewModel>
@{
    ViewData["Title"] = "最新留言";
}
@section Styles {
    <link href="~/assets/css/styles.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.1.7/css/dataTables.material.css" rel="stylesheet" />
}
<div style="display:none;">
    @Html.AntiForgeryToken()
</div>
<div>
    <div class="card">
        <div class="card-body">
            <div class="d-block align-items-center">
                <div>
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
                <table id="DashboardTable" class="mdl-data-table table-hover text-center" style="width:30%">
                    <thead class="text-nowrap">
                        <tr>
                            <th class="text-muted">
                                @Html.DisplayNameFor(model => model.artTitle)
                            </th>
                            <th  class="text-muted">
                                @Html.DisplayNameFor(model => model.comment)
                            </th>
                            <th  class="text-muted">
                                @Html.DisplayNameFor(model => model.commentCreate)
                            <th  class="text-muted">
                                @Html.DisplayNameFor(model => model.reply)
                            </th>
                            <th  class="text-muted">
                                回覆
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="d-block align-items-center">
                <div>
                    <h4 class="card-title">按讚最多的作品</h4>
                </div>
                <table id="LikeTable" class="mdl-data-table table-hover text-center" style="width:100%">
                    <thead class="text-nowrap">
                        <tr>
                            <th class="text-muted">
                                @Html.DisplayNameFor(model => model.artTitle)
                            </th>
                            <th class="text-muted">
                                @Html.DisplayNameFor(model => model.likeCount)
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--回覆視窗-->
<div class="modal fade" id="ReplyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">回覆</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body Reply">
                ...
            </div>
        </div>
    </div>
</div>

<!--圖片視窗-->
<div class="modal fade" id="PicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Picture">
                ...
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.material.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script type="module" src="~/js/dashboard.js" asp-append-version="true"></script>
}